/* Estilo general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#g3{
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/imgs/5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

#g3 .game {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  min-height: 100vh;
  
}

#g3 #bingoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25em;
  z-index: 1;
  padding-top: 8em;
}

#g3 h2 {
  margin: 0;
}

#g3 #leftContainer,
#g3 #rightContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#g3 #centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Tablero */
#g3 .carton {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.25em solid #333;
  padding: 0.625em;
  margin: 1.875em;
  width: 25em;
  background-color: rgb(223, 175, 253);
  border-radius: 0.5em;
}

#g3 #tablero1 p, #g3 #tablero2 p{
  font-size: 1.25em;
}

#g3 .carton h3 {
  margin-bottom: 0.625em;
  text-align: center;
  font-size: 1.25em;
  color: #000000;
  text-shadow: none;
}

#g3 .celda-contenedor {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.3125em;
  width: 100%;
  height: 12.5em;
}

#g3 .celda {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125em;
  font-weight: bold;
  background-color: #f9f9f9;
}

#g3 .celda:hover {
  cursor: pointer;
}

#g3 #bolillero {
  width: 6.25em;
  height: 6.25em;
  background-color: rgb(194, 95, 255);
  color: white;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: #000 2px solid;
  margin: 1.25em auto;
  padding: 0.625em;
  box-shadow: 0 0.25em 0.625em rgba(0, 0, 0, 0.1);
}

#g3 #bolillero p{
  font-size: 2em;
}

#g3 .celda.highlight {
  background-color: #ffb2b2;
  color: #000;
}

#g3 .celda.highlight-linea {
  background-color: rgb(154 0 255);;
  color: #fff;
}


#g3 .celda.selected {
  background-color: #6baae9;
  color: #000;
}

#g3 #modal,
#g3 #modalFinal,
#g3 #modalNoSalio {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: white;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 1.25em;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

#g3 #modalFinal{
  height: 20em;
  width: 30em;
}

#g3 #modal-content-final{
  font-size: 1.5em;
  margin-bottom: 1em;
}

#g3 #modalFinal #btnFinal{ 
  display: flex;
  flex-direction: row;
}

#g3 #modalFinal #btnFinal button{ 
  width: auto;
  margin: 0.5em;
}

#g3 #modalNoSalio {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25em;
}

#g3 #botones {
  display: flex;
  justify-content: space-around;
}

#botones button {
  margin: 0.25em 0.3125em;
}

#g3 #modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#g3 #modal {
  width: 31.25em;
  height: 31.25em;
}

#g3 .tabla-modal {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 0.3125em;
  margin-bottom: 0.625em;
}

#g3 .tabla-modal div {
  width: 2.5em;
  height: 1.875em;
  text-align: center;
  border: 0.0625em solid #ccc;
  line-height: 1.875em;
  padding-left: 0.25em;
}

#g3 .highlight-modal {
  background-color: #ff6b6b;
  color: black;
}

#g3 #closeModal {
  padding: 0.625em;
  width: 15.625%;
}

#g3 #closeModalNo{
  padding: 1em;
}

#g3 button {
  font-size: 1em;
}

#g3 #btn-g3-back{
  width: 60%;
}

.modal-overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
}


#g3 .modal {
  position: relative;
  display: none; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: white;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 1.25em;
  overflow: hidden;
}


/* Responsive */
@media (max-width: 37.5em) and (min-height: 43.75em) {
  body{
    overflow-y: hidden;
  }

  #g3 #bingoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: scale(0.9);
    padding-top: 2em;
  }

  #g3 #leftContainer,
  #g3 #rightContainer {
    display: flex;
    height: auto;
    width: auto;
    justify-content: flex-start;
  }

  #g3 #rightContainer{
    margin-top: 0.7em;
  }

  #g3 #leftContainer{
    margin-bottom: 0.7em;
  }

  #g3 #centerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(1.1);
    margin: 1.25em;
    overflow: hidden;
  }

  #g3 #tablero1{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 1em;
  }

  #g3 #tablero2{
    margin-top: 1em;
  }

  #g3 .carton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.9375em;
    margin: 0;
    width: 21.875em;
  }

  #g3 .celda-contenedor {
    grid-template-columns: repeat(5, 1fr);
    gap: 0.1875em;
  }

  #g3 .celda {
    font-size: 1.5em;
    padding: 0.3125em 0.125em;
  }

  #g3 #bolillero {
    width: 5em;
    height: 5em;
    font-size: 1.25em;
    margin: 0.625em auto;
  }

  #g3 #bolillero p{
    font-size: 1.5em;
  }

  #g3 #modal {
    height: auto;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #g3 #modalFinal{
    height: 20em;
    width: 22.5em;
  }
  
  #g3 #modal-content-final{
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  
  #g3 #modalFinal #btnFinal{ 
    display: flex;
    flex-direction: column;
  }
  
  #g3 #modalFinal #btnFinal button{ 
    width: auto;
    height: 3em;
    margin-bottom: 1.5em;
  }
  

  #g3 #modalNoSalio {
    height: 12.5em;
    width: 18em;
    font-size: 1.25em;
  }

  #g3 .tabla-modal {
    grid-template-columns: repeat(5, 1fr);
    font-size: 1.25em;
    column-gap: 0.3125em;
    row-gap: 0.1875em;
  }

  #g3 .tabla-modal div {
    width: 3.125em;
    height: auto;
    line-height: 1.5625em;
  }

  #g3 #closeModal {
    width: 31.25%;
    font-size: 0.9em;
  }

  #g3 #btn-g3-back {
    font-size: 0.9em;
    margin-top: 0;
  }

  #g3 button{
    font-size: 0.88em;
  }
}


@media (min-width: 57em) and (max-width: 58em){

  body{
    overflow-x: hidden;
  }

  #g3 #bingoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1em;;
  }

  #g3 #leftContainer,
  #g3 #rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0.3125em;
  }

  #g3 #centerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.625em;
    transform: scale(0.8);
    width: 35%;
  }

  #g3 .carton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.625em;
    margin: 0.625em;
    width: 17em;
  }

  #g3 .celda-contenedor {
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    height: auto;
  }

  #g3 .celda {
    font-size: 1em;
    padding: 0.3125em;
    height: 2.5em;
  }

  #g3 #bolillero {
    width: 6.25em;
    height: 6.25em;
    font-size: 1.125em;
    margin: 1.25em;
  }

  #g3 #bolillero p{
    font-size: 1.5em;
  }

  #g3 #modal {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    padding: 0.9375em 1.875em;
  }

  #g3 #modalNoSalio {
    width: 18.75em;
    height: 12.5em;
    font-size: 1em;
  }

  #g3 .tabla-modal {
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0.3125em;
    margin-bottom: 0.3125em;
  }

  #g3 .tabla-modal div {
    width: 2.5em;
  }

  #g3 #modal-content h3 {
    margin-bottom: 0.7em;
  }

  #g3 button {
    height: auto;
    padding: 1.25em;
  }
}
