#g2 #contenedorGenerala {
  display: block;
}

#g2 .dice {
  display: inline-block;
  padding: 10px;
  margin: 20px;
}

#g2 .disable {
  background-color: #ccc;
  pointer-events: none;
}

#g2 .disable:hover {
  cursor: not-allowed;
}

#g2 #contenedorGenerala .dice.selected {
  border: 2px solid red;
}

#g2 .scores table tr:last-of-type td {
  font-weight: bold;
}

.playerTurn {
  background-color: rgb(105, 185, 6);
}

.resaltarFila {
    background-color: #931760;
  }

table {
  border-collapse: collapse;
  width: 50%;
}

table th,
table td {
  border: 1px solid black;
  padding: 1px;
  text-align: center;
}

/* Estilos para el Modal */
#g2 .modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo en la pantalla */
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro */
    overflow: auto;
  }
  
  #g2 .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
  }
  
  #g2 .close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 5px;
  }
  
  #g2 .close-btn:hover,
  #g2 .close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  #g2 .modal button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
  }